<nav class="navbar">
  <div class="navbar-container">
    <div class="menu-icon" (click)="toggleMenu()">
      <i class="fas" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
    </div>
    <ul class="nav-menu" [ngClass]="{'active': isMenuOpen}">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="isMenuOpen = false">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="/projects" routerLinkActive="active" class="nav-link" (click)="isMenuOpen = false">Projects</a>
      </li>
      <li class="nav-item">
        <a routerLink="/experience" routerLinkActive="active" class="nav-link" (click)="isMenuOpen = false">Experience</a>
      </li>
      <li class="nav-item">
        <a routerLink="/references" routerLinkActive="active" class="nav-link" (click)="isMenuOpen = false">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>
