<nav class="navbar">
  <div class="navbar-container">
    <div class="menu-icon" (click)="toggleMenu()">
      <i class="fas" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
    </div>

    <ul class="nav-menu" [ngClass]="{ 'active': isMenuOpen }">
      <li class="nav-item">
        <a
          routerLink="/"
          fragment="about"
          class="nav-link"
          (click)="isMenuOpen = false"
        >
          About
        </a>
      </li>

      <li class="nav-item">
        <a
          routerLink="/"
          fragment="experience"
          class="nav-link"
          (click)="isMenuOpen = false"
        >
          Experience
        </a>
      </li>

      <li class="nav-item">
        <a
          routerLink="/"
          fragment="projects"
          class="nav-link"
          (click)="isMenuOpen = false"
        >
          Projects
        </a>
      </li>

      <li class="nav-item">
        <a
          routerLink="/"
          fragment="contact"
          class="nav-link"
          (click)="isMenuOpen = false"
        >
          Contact Me
        </a>
      </li>
    </ul>
  </div>
</nav>
