<section class="about-section">
  <div class="section-header scroll-animate" appScrollAnimate>
    <h1>About Me</h1>
  </div>

  <div class="about-content scroll-animate" appScrollAnimate>
    <div class="about-text">
      <p>
        Thanks for visiting! I'm a recent graduate from San José State University with a B.S in software engineering.
        My main interests lie in software development, but I also love to dabble into machine learning, distributed systems, site reliability, and low-level systems. Overall, I'm always exploring
        other areas where my skills can be best applied!
      </p>
      <p>
        Previously, I interned at the Lawrence Livermore National Laboratory and Blackhawk Network, where I contributed to the development of full-stack web applications.
        I was also the treasurer of our school's ACM chapter and competed in the university's archery team. Outside of school, you can catch me
        playing basketball and video games, or just having a chill time with family and friends.
      </p>
      <p>
        Upon graduation, I will be returning to the Lab as an Academic Graduate Associate for the Infrastructure Applications Programming team.
        If anything here sparks your interest, please don't hesitate in contacting me!
      </p>
      <div class="about-photo">
        <img src="assets/img/archery.gif" alt="Archery" />
      </div>
    </div>
    <div class="skills-section">
      <h3>Skills</h3>
      <div class="skills-group" *ngFor="let skillGroup of skills">
        <h4>{{skillGroup.group}}</h4>
        <div class="skills-container">
          <div *ngFor="let skill of skillGroup.items" class="skill-tag">
            {{ skill }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
