.home-container {
  display: flex;
  flex-direction: column;
}

section {
  min-height: 100vh;
  padding: 4rem 6rem;
  scroll-margin-top: 70px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 4rem 1.5rem;
  }
}
